*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

header{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8480F5;
}

header > .img-name{
    width: 40%;
    height: 100%;
    text-align: center;
}

header > .img-name > img{
    width: 10rem;
    height: 15rem;
    padding: 0.5rem;
    padding-top: 2rem;
    border-radius: 120%;
}

header > .img-name > h1{
    color: white;
    font-size: 1rem;
}

header > .text {
    color: white;
    width: 60%;
    height: 100%;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

header > .text > h3{
    color: #4733a0;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

/* proyects */

main{
    width: 100%;
    height: 60rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main > .proyects{
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
}

main > .proyects > h2{
    font-size: 2rem;
    color: #4733a0;
    text-align: center;
    margin: 1rem;
}

main > .proyects > .proyect{
    margin: 2.5rem;
    width: 80%;
    height: 17rem;
    border: 2px solid #4733a0;
    border-radius: 30px;
    background-color: #c8cdfd;
    display: flex;
}

main > .proyects > .proyect > .img{
    width: 40%;
    height: 100%;
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
}

main > .proyects > .proyect > .img > img{
    width: 6rem;
    height: 7rem;
    border-radius: 100%;
    margin: 0 auto;
}

main > .proyects > .proyect > .text1{
    width: 60%;
    height: 100%;
}

main > .proyects > .proyect > .text1 > h4{
    font-size: 1.2rem;
    color: #4733a0;
    text-align: center;
    padding: 0.5rem;
}

main > .proyects > .proyect > .text1 > p{
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

main > .proyects > .proyect > .text1 > a > h5{
    font-size: 0.8rem;
    color: #4733a0;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

/* references */

.references {
    width: 100%;
    height: 13rem;
    background-color: aqua;
}

.references > h2{
    width: 100%;
    height: 2rem;
    font-size: 2rem;
    text-align: center;
    color: #4733a0;
}

.references > .text2{
    width: 80%;
    height: 5rem;
}