@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playwrite FR Moderne", cursive;
}

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
}

.container > div {
    min-width: 0;
    padding: 0px 5px 0px;
}

.container > div:first-child {
    flex: 1;
}

.container > div:last-child {
    flex: 2;
}

.container > .leftSide {
    position: relative;
    background-color: #8480F5;
    width: 50%;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.profileText > .imgProfile {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText > .imgProfile > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText > h2 {
    color: #fff;
    font-size: 0.7rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
}

.profileText > h2 > span {
    font-size: 0.6rem;
    font-weight: 300;
}

.contactInfo {
    padding-top: 10px;
}

.title {
    font-size: 0.5em;
    color: #4733a0;
}

.contactInfo > ul > li {
    list-style: none;
}

.contactInfo > ul > li > i{
    font-size: 0.5rem;
    color: #fff;
}

.contactInfoEducation > h3{
    font-size: 1.2rem;
}

.contactInfoEducation> ul > li {
    margin-bottom: 8px;
    list-style: none;
}

.contactInfoEducation > ul > li > h4 {
    font-size: 0.8rem;
    color: white;
    font-weight: 500;
}

.contactInfoEducation > ul > li > p{
    color: black;
    font-size:0.7rem ;
}

.language{
    padding-bottom: 2rem;
}

.language > h3 {
    font-size: 1.2rem;
}

.language > ul > li{
    list-style: none;
}

.language > ul > li > .text {
    padding-top: 0.5rem;
    color: #fff;
}

.language > ul > li > .percentage {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #fff;
    display: block;
    margin-top: 5px;
}

.language > ul > li > .percentage > div {
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #4733a0;
}

.container > .rightSide {
    position: relative;
    background-color: #fff;
    padding: 10px;
    width: 50%;
}

.rightSide {
    flex: 2;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info{
    width: 100%;
    background-color:#c8cdfd ;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}

.proyects {
    width: 100%;
    background-color:#c8cdfd ;
    padding: 10px;
    border-radius: 10px;
}

.proyects > h2{
    text-align: center;
    font-size: 1.3rem;
}

.proyect{
    padding: 1rem;
}

.proyect > .img > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    right: -2rem;
}

.proyect > .text1 > h4 {
    text-align: center;
    font-size: 1rem;
}

.proyect > .text1 > p {
    text-align: center;
    font-size: 0.7rem;
}

.proyect > .text1 > a {
    text-decoration: none;
}

.proyect > .text1 > a > h5 {
    text-align: center;
    font-size: 0.8rem;
}

.references {
    width: 100%;
    background-color:#c8cdfd ;
    padding: 10px;
    border-radius: 10px;
}

.references > h2{
    text-align: center;
    font-size: 1.1rem;
}

.references > .container1 > .text2{
    padding-top: 0.5rem;
}

.references > .container1 > .text2 > p {
    text-align: center;
    font-size: 0.7rem;
}

.experience {
    width: 100%;
    background-color:#c8cdfd ;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.experience > h2{
    text-align: center;
    font-size: 1.1rem;
}

.experience > .container2 > .text3 > img{
    width: 7rem;
    height: 7rem;
    padding: 1rem;
}

.experience > .container2 > .text3 > .percentage1,.percentage2, .percentage3, .percentage4 {
    position: relative;
    width: 90%;
    height: 6px;
    background-color: #fff;
    display: block;
    margin-top: 5px;
}

.experience > .container2 > .text3 > .percentage1 > div {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: #4733a0;
}

.experience > .container2 > .text3 > .percentage2 > div {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #4733a0;
}

.experience > .container2 > .text3 > .percentage3 > div {
    position: relative;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #4733a0;
}

.experience > .container2 > .text3 > .percentage4 > div {
    position: relative;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: #4733a0;
}

@media screen and (min-width: 300px) and (max-width: 393px){ 
    .proyect > .img > img {
        right: -3.5rem;
    }
    
    .experience > .container2 > .text3{
        width: 90%;
        padding-left: 2rem;
    }
    
}

@media screen and (min-width: 430px) and (max-width: 480px){
    .title {
        padding-top: 1rem;
        font-size: 0.8rem;
    }

    .contactInfo > ul > li > i{
        font-size: 0.56rem;
    }
    .contactInfoEducation > ul > li > h4 {
        font-size: 0.9rem;
    }
    
    .contactInfoEducation > ul > li > p{
        font-size:0.7rem ;
    }

    .proyect > .img > img {
        right: -5rem;
    }

    .experience > .container2 > .text3{
        width: 90%;
        padding-left: 3.5rem;
    }
}

@media screen and (min-width: 820px) and (max-width: 1041px){
    .title {
        padding-top: 1rem;
        font-size: 1.2rem;
    }

    .contactInfo > ul > li > i{
        font-size: 0.97rem;
    }
    .contactInfoEducation > ul > li > h4 {
        font-size: 1rem;
    }
    
    .contactInfoEducation > ul > li > p{
        font-size:0.97rem ;
    }

    .info{
        font-size: 1.2rem;
    }

    .proyect{
        display: flex;
    }

    .proyects > h2{
        font-size: 1.5rem;
    }

    .proyect > .img{
        width: 40%;
    }

    .proyect > .img > img {
        right: -2rem;
        width: 5rem;
        height: 5rem;
    }

    .proyect > .text1{
        width: 60%;
    }

    .proyect > .text1 > h4{
        font-size: 1.1rem;
    }

    .proyect > .text1 > p{
        font-size: 0.9rem;
    }

    .proyect > .text1 > a > h5{
        font-size: 1rem;
    }

    .references > h2{
        font-size: 1.5rem;
    }

    .references > .container1{
        display: flex;
    }

    .references > .container1 > .text2{
        width: 50%;
    }

    .references > .container1 > .text2 > p{
        font-size: 0.9rem;
    }

    .experience > h2{
        font-size: 1.5rem;
    }

    .experience > .container2{
        display: flex;
    }

    .experience >.container2 > .text3 {
        width: 33%;
        padding-left: 0.5rem;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1600px){
    .title {
        padding-top: 1rem;
        font-size: 1.3rem;
    }

    .contactInfo > ul > li > i{
        font-size: 1rem;
    }
    .contactInfoEducation > ul > li > h4 {
        font-size: 1.2rem;
    }
    
    .contactInfoEducation > ul > li > p{
        font-size:1rem ;
    }

    .info{
        font-size: 1.4rem;
    }
    
    .proyect{
        display: flex;
    }

    .proyects > h2{
        font-size: 1.8rem;
    }

    .proyect > .img{
        width: 40%;
    }

    .proyect > .img > img {
        right: -10rem;
        width: 7rem;
        height: 7rem;
    }

    .proyect > .text1{
        width: 60%;
        
    }

    .proyect > .text1 > h4{
        font-size: 1.2rem;
    }

    .proyect > .text1 > p{
        font-size: 1rem;
    }

    .proyect > .text1 > a > h5{
        font-size: 1.1rem;
    }

    .references > h2{
        font-size: 1.8rem;
    }

    .references > .container1{
        display: flex;
    }

    .references > .container1 > .text2{
        width: 50%;
        padding-bottom: 1rem;
    }

    .references > .container1 > .text2 > p{
        font-size: 1rem;
    }

    .experience > h2{
        font-size: 1.8rem;
    }

    .experience > .container2{
        display: flex;
    }

    .experience > .container2 > .text3 {
        width: 40%;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }
}